<section class="dashboard-body">
  <!-- Surlignage sur les titres principaux (Optionnel) -->
  <h1>Tableau de bord</h1>
  <p>Vue d'ensemble de votre stock industriel</p>

  <div class="stats-grid">
    <div class="card blue">
      <!-- On met le texte fixe entre ' ' pour qu'il passe dans le pipe -->
      <small >Total Produits</small>
      <div class="value">{{ produits.length }}</div>
    </div>
    
    <div class="card orange">
      <small >Stocks Bas</small>
      <div class="value">3</div>
    </div>
    
    <div class="card yellow">
      <small >Péremptions Proches</small>
      <div class="value">2</div>
    </div>
    
    <div class="card red">
      <small >Lots Périmés</small>
      <div class="value">0</div>
    </div>
  </div>
</section>