/* You can add global styles to this file, and also import other style files */
/* Style du surlignage */
mark {
  background-color: #ffeb3b !important;
  color: #2b3674 !important;
  padding: 0 2px;
  border-radius: 3px;
  font-weight: bold;
}